<app-navigation></app-navigation>

<!-- Section title -->
<section class="section grey-text text-lighten-4">
  <div class="container">
    <div class="row">
      <h1 class="center">The Band</h1>
    </div>
  </div>
</section>

<!-- section: slider -->
<section class="slider">
  <ul class="slides ">
    <li>
      <img src="../../../assets/img/about_img/slider_img/beginning-min.jpg" alt="history image 1">
      <div class="caption center-align">
        <div class="text-bg">
          <h2>The humble beginnings</h2>
          <h5 class="grey-text text-lighten-3 hide-on-small-only subtext">We started just like others. A few friends
            loved
            music, had passion. The rest is history...</h5>
        </div>
      </div>
    </li>
    <li>
      <img src="../../../assets/img/about_img/slider_img/first_gig-min.jpg" alt="history image 2">
      <div class="caption left-align ">
        <div class="text-bg">
          <h2>Our first gig</h2>
          <h5 class="grey-text text-lighten-3 hide-on-small-only subtext">We didn't have money, real songs or
            experience.
            So
            we gave it away for free.</h5>
        </div>
      </div>
    </li>
    <li>
      <img src="../../../assets/img/about_img/slider_img/made_it-min.jpg" alt="history image 3">
      <div class="caption right-align">
        <div class="text-bg">
          <h2>The global Superstars</h2>
          <h5 class="grey-text text-lighten-3 hide-on-small-only">Four years in the making and we did it! System
            Shutdown is the band to listen now!</h5>
        </div>
      </div>
    </li>
  </ul>
</section>

<!-- section: history -->
<section class="section section-history grey-text text-lighten-4">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <p>The System Shutdown is an American hard rock band that formed in the New York City neighborhood of Forest
          Hills, Queens in 2004. They are often cited as the first true hard rock group. Despite achieving only limited
          commercial success initially, the band was highly influential in the United States and the United Kingdom.</p>
      </div>
      <div class="col s12">
        <p>All of the band members adopted pseudonyms beginnig with the name "The Real", although none of them were
          biologically related. They performed 2,263 concerts, touring virtually nonstop for 15 years.
          Recognition of the band's importance built over the years, and they are now mentioned in many assessments of
          all-time great rock music, such as number 26 in the Rolling Stone magazine list of the "100 Greatest Artists
          of
          All Time" and number 17 in VH1's "100 Greatest Artists of Hard Rock".</p>
      </div>
      <div class="col s12">
        <p>In 2012, the System Shutdown were ranked the second-greatest band of all time by Spin, trailing only the
          Beatles. In 2018, the group was awarded a Grammy Lifetime Achievement Award.</p>
      </div>
    </div>
  </div>
</section>

<!-- section: band members -->
<section class="section section-members grey-text text-lighten-3">
  <div class="container">
    <h2>Members</h2>
    <!-- Member -->

    <!--member1 -->
    <div class="row">
      <div class="col m6">
        <div class="card">
          <div class="card-image">
            <img src="../../../assets/img/about_img/band_members/singer.jpg" alt="Johhny McCormic">
            <a href="#member1" class="btn-floating halfway-fab red accent-4 modal-trigger">
              <i class="fas fa-expand-arrows-alt"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col m6 hide-on-small-only">
        <div class="img-content">
          <h3><span class="red-text text-accent-4">The Real</span> Johhny McCormic</h3>
        </div>
      </div>
    </div>

    <!--member2 -->
    <div class="row">
      <div class="col m6 hide-on-small-only">
        <div class="img-content">
          <h3><span class="red-text text-accent-4">The Real</span> Dorian Crasher</h3>
        </div>
      </div>
      <div class="col m6">
        <div class="card">
          <div class="card-image">
            <img src="../../../assets/img/about_img/band_members/drummer.jpg" alt="Dorian Crashe">
            <a href="#member2" class="btn-floating halfway-fab red accent-4 modal-trigger">
              <i class="fas fa-expand-arrows-alt"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!--member3 -->
    <div class="row">
      <div class="col m6">
        <div class="card">
          <div class="card-image">
            <img src="../../../assets/img/about_img/band_members/guitarist.jpg" alt="Hope Bob">
            <a href="#member3" class="btn-floating halfway-fab red accent-4 modal-trigger">
              <i class="fas fa-expand-arrows-alt"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col m6 hide-on-small-only">
        <div class="img-content">
          <h3><span class="red-text text-accent-4">The Real</span> Hope Bob</h3>
        </div>
      </div>
    </div>

    <!-- member modals -->
    <!-- member 1 -->
    <div id="member1" class="modal">
      <div class="modal-content grey lighten-2 grey-text text-darken-4">
        <h4><span class="red-text text-accent-4">The Real</span> Johhny McCormic</h4>
        <img src="../../../assets/img/about_img/band_members/singer_big.jpg" alt="Johhny McCormic"
          class="responsive-img">
        <p>
          The Real Johhny McCormic is an American musician, singer, songwriter. He is best known as the vocalist and
          lyricist of hard rock band System Shutdown.
        </p>
        <p>
          Johhny's interest in punk rock bands like The Clash, The Misfits, Sex Pistols, and Bad Religion turned into
          an appreciation for other bands like Minor Threat, Bad Brains, and The Teen Idles. In high school, he joined
          the straight edge band Hard Stance, which evolved into the hardcore band Inside Out around 1988 and gained a
          national underground following.
        </p>

      </div>
    </div>

    <!-- member 2 -->
    <div id="member2" class="modal">
      <div class="modal-content grey lighten-2 grey-text text-darken-4">
        <h4><span class="red-text text-accent-4">The Real</span> Dorian Crasher</h4>
        <img src="../../../assets/img/about_img/band_members/drummer_big.jpg" alt="Dorian Crasher"
          class="responsive-img">
        <p>
          The Real Dorian Crusher started his career as a drummer for Greta in 1998, and helped co-found System Shutdown
          with The Real Johhny McCormic August 2004.
        </p>
        <p>
          Dorian's success as the drummer of System Shutdown came from the failure of a different band; he once
          auditioned for a band called Shut Up, who released one album (titled Whatta Frick) through Goffry records in
          1996 and broke up when the album received little media attention upon release. Former Shut Up singer Johhny
          McCormic was looking to pick up where Shut Up left off and start a new band, and contacted Dorian, who was
          playing with the band Berta, to see if he was interested in playing the drums.
        </p>
      </div>
    </div>

    <!-- member 3 -->
    <div id="member3" class="modal">
      <div class="modal-content grey lighten-2 grey-text text-darken-4">
        <h4><span class="red-text text-accent-4">The Real</span> Hope Bob</h4>
        <img src="../../../assets/img/about_img/band_members/guitarist_big.jpg" alt="Hope Bob" class="responsive-img">
        <p>
          Hope Bob is a British–American musician and songwriter. He is the lead guitarist of the American hard rock
          band System Shutdown, with whom he achieved worldwide success in the late 2000s and early 2010s. Hope has
          received critical acclaim and is considered one of the greatest guitarists in rock history.
        </p>
        <p>
          Hope joined his first band, Black Sun, in 1996. In 1999, he formed the band Camel Case after the Enginerhead
          song "Camel the Case"—with his childhood friend Anthony Burger, who by then had learned to play drums. He
          placed an advertisement in a newspaper looking for a bassist, and received a response from Kafer Sashi. They
          auditioned a number of singers, including one-time Solo Block vocalist Bill Tension, and worked on material
          that included the main riff of what became theSystem Shutdown's song "Bacon Flesh".
        </p>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>