<footer class="page-footer grey darken-4 grey-text text-lighten-4">
  <div class="container">
    <div class="row footer-content ">
      <!-- social icons -->
      <div id="social" class="col s12 l8 center">
        <h5>Find Us At Social Media</h5>
        <div class="row">
          <div class="col s2 offset-s1  ">
            <a class="grey-text text-lighten-5" href="https://facebook.com" target="_blank">
              <i class="fab fa-facebook fa-2x"></i>
            </a>
          </div>
          <div class="col s2">
            <a class="grey-text text-lighten-5" href="https://twitter.com" target="_blank">
              <i class="fab fa-twitter fa-2x"></i>
            </a>
          </div>
          <div class="col s2">
            <a class="grey-text text-lighten-5" href="https://instagram.com" target="_blank">
              <i class="fab fa-instagram fa-2x"></i>
            </a>
          </div>
          <div class="col s2">
            <a class="grey-text text-lighten-5" href="https://www.spotify.com" target="_blank">
              <i class="fab fa-spotify fa-2x"></i>
            </a>
          </div>
          <div class="col s2">
            <a class="grey-text text-lighten-5" href="https://www.youtube.com" target="_blank">
              <i class="fab fa-youtube fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- Tourmaster login button -->
      <div id="tourmasterlink" class="col s12 l2 offset-l2 center ">
        <a routerLink="/login" class="btn btn-small grey darken-2 grey-text text-lighten-5">Tourmaster</a>
      </div>
    </div>
  </div>
  <!-- copyright -->
  <div class="center section copyright">
    <small>kissr &copy; 2019</small>
  </div>
</footer>