<app-navigation></app-navigation>

<!-- Section title -->
<section class="section grey-text text-lighten-4">
  <div class="container">
    <div class="row">
      <h1 class="center">Media</h1>
    </div>
  </div>
</section>

<!-- Section: gallery -->
<section id="gallery" class="section section-gallery grey-text text-lighten-4">
  <div class="container">
    <h4 class="center">
      <span class="red-text text-accent-4">Photo</span> Gallery
    </h4>
    <!-- row 1 -->
    <div class="row">
      <p class="flow-text center">New-York <span class="red-text text-accent-4">Tour</span></p>
      <div class="col s12 m6 l3">
        <img class="materialboxed responsive-img" src="../../../assets/img/gallery_img/1-min.jpg" alt="New York Tour 1">
      </div>
      <div class="col s12 m6 l3">
        <img class="materialboxed responsive-img" src="../../../assets/img/gallery_img/2-min.jpg" alt="New York Tour 2">
      </div>
      <div class="col s12 m6 l3">
        <img class="materialboxed responsive-img" src="../../../assets/img/gallery_img/3-min.jpg" alt="New York Tour 3">
      </div>
      <div class="col s12 m6 l3">
        <img class="materialboxed responsive-img" src="../../../assets/img/gallery_img/4-min.jpg" alt="New York Tour ">
      </div>
    </div>
    <!-- row 2 -->
    <div class="row">
      <p class="flow-text center">London <span class="red-text text-accent-4">Tour</span></p>
      <div class="col s12 m6 l3">
        <img class="materialboxed responsive-img" src="../../../assets/img/gallery_img/5-min.jpg" alt="London Tour 1">
      </div>
      <div class="col s12 m6 l3">
        <img class="materialboxed responsive-img" src="../../../assets/img/gallery_img/6-min.jpg" alt="London Tour 2">
      </div>
      <div class="col s12 m6 l3">
        <img class="materialboxed responsive-img" src="../../../assets/img/gallery_img/7-min.jpg" alt="London Tour 3">
      </div>
      <div class="col s12 m6 l3">
        <img class="materialboxed responsive-img" src="../../../assets/img/gallery_img/8-min.jpg" alt="London Tour 4">
      </div>
    </div>
    <!-- row 3 -->
    <div class="row">
      <p class="flow-text center">Tokyo <span class="red-text text-accent-4">Tour</span></p>
      <div class="col s12 m6 l3">
        <img class="materialboxed responsive-img" src="../../../assets/img/gallery_img/9-min.jpg" alt="Tokyo Tour 1">
      </div>
      <div class="col s12 m6 l3">
        <img class="materialboxed responsive-img" src="../../../assets/img/gallery_img/10-min.jpg" alt="Tokyo Tour 2">
      </div>
      <div class="col s12 m6 l3">
        <img class="materialboxed responsive-img" src="../../../assets/img/gallery_img/11-min.jpg" alt="Tokyo Tour 3">
      </div>
      <div class="col s12 m6 l3">
        <img class="materialboxed responsive-img" src="../../../assets/img/gallery_img/12-min.jpg" alt="Tokyo Tour 4">
      </div>
    </div>
  </div>
</section>

<!-- Section: videos -->
<section id="videos" class="section section-videos grey-text text-lighten-4">
  <div class="container">
    <h4 class="center">
      <span class="red-text text-accent-4">Music</span> Videos
    </h4>
    <div class="row">
      <div class="col s12 m6 l4">
        <div class="video-container">
          <iframe src="//www.youtube.com/embed/bWXazVhlyxQ?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="video-container">
          <iframe src="//www.youtube.com/embed/-1CE4P8qqPE?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="video-container">
          <iframe src="//www.youtube.com/embed/6fVE8kSM43I?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="video-container">
          <iframe src="//www.youtube.com/embed/CSvFpBOe8eY?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="video-container">
          <iframe src="//www.youtube.com/embed/W3q8Od5qJio?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="video-container">
          <iframe src="//www.youtube.com/embed/ypdW5jL1amg?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>